<ul>
  <% @stars.each do |star|%>
  <div class="star">
    <li>Label: <%= star.label %></li>
    <li>Apparent Magnitude: <%= star.appmag %></li>
    <li>Position: <%= star.position.x %>, <%= star.position.y %>, <%= star.position.z %></li>
  </div>
  <br/>
  <% end %>
</ul>
